[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
transitions = "*"
aiohttp = "*"
aiosignal = "*"
async-timeout = "*"
attrs = "*"
certifi = "*"
chardet = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
frozenlist = "*"
future = "*"
graphviz = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
line-bot-sdk = "*"
markupsafe = "*"
multidict = "*"
pillow = "*"
pygraphviz = "*"
python-dotenv = "*"
six = "*"
urllib3 = "*"
werkzeug = "*"
yarl = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
